/* TODO Add site wide styles */
* {
    font-family:sans-serif ;
    font-size: 16px;
}

.previewImage{
   width:300px;
   height:300px
   
}
.all-spots-container {
    display: inline-flex;
    justify-content: center;
    margin-top: 30px;
    margin-right: 5px;
    text-align: center;
}

.all-spots-text-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    line-height: .5em;
}

.spot-form {
    display: inline-flex;
    flex-direction: column;
    justify-content: right;
    position: absolute;
    right:30px;
    border:solid red;
    text-align: right;
}

.star-rating {
    display: inline-flex;
    flex-direction:row
}
.spot-detail-outmost-container {
    display: grid;
    grid-template-areas:
    'name name name'
    'des des des'
    'first-image spot spot'
    'owner owner owner'
    'link link link';
  }
.spot-detail-name {
    grid-area: name;
    margin-left: 20px;
    
}


.rest-information {
    grid-area: des;
    display: flex;
    justify-content:left;


}
.first-spotImage {
    grid-area:first-image;
    width:400px;
    height:600px
}
.spotImage-container {
    grid-area:spot
}

.spotImage {
    width:200px;
    height:200px
}

.spot-detail-owner {
    grid-area: owner;
    font-weight: bold;
}
.spot-detail-links {
    grid-area: link;
    font-weight: bold;
}

.cur-spot-img{
    margin-top: 20px;
    width:400px;
    height:400px
}

.cur-user-spot-container{
    display: inline-flex;
    flex-direction: column;
}

.cur-Spot-info {
    display: flex;
    flex-direction: row;
    justify-content: left;
}


.cur-user-bookings-img{
    width:200px;
    height:200px
}

.cur-spot-buttons {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
/* BookingCurUser CSS */

.BookingCurUser-error{

    border: 2px solid whitesmoke;
    border-radius: 5px;
    text-align: center;
    list-style-type:none;
    margin: 20px
    
}

.BookingCurUser-info {
    display: flexbox;
    flex-direction: column;
    border: 2px solid whitesmoke
    

}

.BookingCurUser-cancelButton:hover{
    background-color: bisque;
}
.BookingCurUser-checkin{
    display: block;
    /* border: 2px solid whitesmoke; */
}
.BookingCurUser-checkout{
    display: block;
    /* border: 2px solid whitesmoke; */
}

/* BookingAdd  CSS below */

.BookingAdd-dateform {
    border: 2px solid whitesmoke;
    border-radius: 5px;
    text-align: center;
    list-style-type:none;
    margin: 20px
}

.BookingAdd-dateform{
    display: flex;
    flex-direction: column;
}

.BookingAdd-button {

    display: inline;
    font-size: 15px; 
    border-color: red;
    width:80px;
    height: 30px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    

}

.BookingAdd-button:hover{
    background-color: bisque;
}

.BookingAdd-error {
    border: 2px solid whitesmoke;
    border-radius: 5px;
    text-align: center;
    list-style-type:none;
    margin: 20px
}

/* BookingId-info cs */

.BookingId-info{
    border: 2px solid whitesmoke;
    border-radius: 5px;
    text-align: center;
    list-style-type:none;
    margin: 20px

}