.Navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid;
    border-color: ghostwhite
}

.homebutton {
    position: relative;
    left: 20px;


}

button {
    border: 0;
    background: none;
    cursor: pointer;
    color: rgb(208, 87, 87);
    font-size: 25px;


}

.session-login {
    width: 90px;
    height: 45px;
    background: whitesmoke;
    border-style: solid;
    border-radius: 50%;
    display: flex;
    justify-content: right;
    text-decoration: none;
    color: rgb(105, 101, 101);
    right: 80px;
    top: 20px
}

.airbnb-home {
    text-align: right;
    font-size: 4px;
    margin-top:10px;
    position: absolute;
    right: 200px
}

ul {
    list-style: none;
}

i {
    
    margin-top:8px;
    margin-right:5px

}

.login-dropdown{
    position:relative;
    display: inline-block;
   
}

.profile-dropdown {
    position:relative;
    display: inline-block;
}
