.Navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid;
    border-color: ghostwhite
}

.Navigation-rightButtons{
    display: flex;
    justify-content: space-around;
}

.homebutton {
    border:0;
    position: relative;
    left: 20px;
}


button {
    /* border: 0; */
    background: none;
    cursor: pointer;
    color: rgb(208, 87, 87);
    font-size: 25px;
}

.session-login {
    /* position:fixed; */
    width: 90px;
    height: 45px;
    background: white;
    border-style: solid;
    border-radius: 50%;
    color: rgb(105, 101, 101);
    
}

.airbnb-home {
    border:0;
    font-weight: bold;
    text-align: right;
    font-size: 4px;
    margin-top:10px;
    right: 200px
}

ul {
    list-style: none;
}


.login-dropdown{
    position:relative;
    display: block;
    text-align: left;
    border: 2px solid whitesmoke;
    
}

.navigation-demo{
    border:0;
    left:0
}
.navigation-login:hover{
    background-color: rgb(239, 229, 229);
}
.navigation-signup:hover{
    background-color: rgb(239, 229, 229);
}
.navigation-demo:hover{
    background-color: rgb(239, 229, 229);
}
.navigation-signup{
    border-bottom: 1px solid gray;
}

/* profile button css */


.profilebutton{
    border:0;
}
.profile-dropdown{
    border: 2px solid whitesmoke;

}

.profile-logout{
    border:0
}
.profile-yourspot:hover,.profile-yourbookings:hover,.profile-logout:hover {
    background-color: rgb(239, 229, 229);

}

.profile-useremail,.profile-yourbookings{
    border-bottom: 1px solid gray;

}