.Navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:solid;
    border-color:ghostwhite

}

.homebutton{
    position: relative;
    left:20px;

    
}

button {
    border:0;
    background:none;
    cursor: pointer;
    color:rgb(208, 87, 87);
    font-size: 25px;


}

.session-login {
    display: flex;
    justify-content: right;
    text-decoration: none;
    color:rgb(105, 101, 101);
    right:80px;
    top:20px
    
}

.airbnb-home{
    display:block;
    text-align: right;
    font-size: 4px;
    margin-top: 60px;
    margin:3px;
    position:absolute;
    right:250px
    
}

ul {
    list-style:none;
}

i {
    margin:3px
}